html, body, header, nav, ul, li, section, div, h1, h2, h3, p, img, form, input, textarea, button, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    scroll-behavior: smooth;
    font-family: Afterglow, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  section.hero {
    background-image: url('pexels-beyzaa-yurtkuran-15960210.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  section.about {
    background-color: #f1f1f1;
    padding: 40px 0;
  }
  
  section.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section.about p {
    font-size: 16px;
    text-align: justify;
  }
  
  section.products {
    padding: 40px 0;
  }
  
  section.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  section.contact {
    background-color: #f1f1f1;
    padding: 40px 0;
  }
  
  section.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  
  
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }

  
